@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

footer {
    width: 100%;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.footer-navigation {
    width: 100%;
    margin: 0 auto;
    display: none;
}

.footer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

span {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

@media(max-width: 768px) {
    .footer-navigation {
        display: block;
    }
}